<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CONSTRUCTION LEVEL</title>
 
</head>
<body>
    <form id="" method="POST" action=""  enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <table border="2" style="width:30%">
                <tr><th align="center" colspan="2">CONSTRUCTION LEVEL</th></tr>
        <tr>
            <td align="center">
                <label>construction level name :</label>
            </td>
            <td>
                <input style="width:98%" type="text" name="constructionlevelname" id="constructionlevelname" placeholder="Enter construction level name">
            </td>
        </tr>
        <tr>
            <td align="center">
                <label>Description :</label>
            </td>
            <td>
                <input style="width:98%" type="text" name="description" id="description" placeholder="Enter Description">
            </td>
        </tr>
        <tr align="center">
            <td colspan="2"><button type="submit">submit</button>
            <input type="button" name="btncancel" id="btncancel" value="Cancel">
            </td>
        </tr>
            </table>
        </div>
    </form>
</body>
</html>