<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add WORKTYPE</title>
</head>
<body>
    <form id="" method="POST" action=""  enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <table border="2" style="width:70%">
                <tr><th align="center" colspan="4">ADD WORKTYPE</th></tr>
                <tr>
            <td align="center">
                <label>WORKTYPE-Name :</label>
            </td>
            <td>
                <input style="width:97%" type="text" name="worktypename" id="worktypename" placeholder="Enter WORKTYPE-Name">
            </td>
            <td align="center">
                <label>WORKTYPE DESCRIPTION :</label>
            </td>
            <td>
                <input style="width:97%" type="text" name="workdescription" id="workdescription" placeholder="Enter WORKTYPE DESCRIPTION">
            </td>
                </tr>
        <tr align="center">
            <td colspan="4"><button type="submit">submit</button>
            <input type="button" name="btncancel" id="btncancel" value="Cancel">
            </td>
        </tr>
            </table>
        </div>
    </form>
</body>
</html>