<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Branch master</title>

</head>
<body>
<form method="POST" action="" >
    {%csrf_token%}
<table border="2">

    <tr>
        <td>
            <label>assign_name </label>

        </td>
        <td>
            <input type="text" name="assign_name" id="assign_name" placeholder="enter the assign_name" >
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" name="btnsubmit" id="btnsubmit" value="save">
            <input type="submit" name="btnsubmit" id="btncanal " value="Cancal">  </td>
    </tr>
</table>
</form>


</body>