
{% block content %}
<div class="card-body">

    <form method="post">
        {% csrf_token %}
        <table border="2">
            <tr>
                <td colspan="2" align="center">
                    <h3>Update Labour Transaction</h3>
                </td>
            </tr>
            <tr>
                <th>customer id:</th>
                <td>{{ form.customerid }}</td>
            </tr>
            <tr>
                <th>construction types:</th>
                <td>{{ form.constructiontypes }}</td>
            </tr>
            <tr>
                <th>quantity:</th>
                <td>{{ form.quantity }}</td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                     <a type="button" class="btn btn-danger" href="/search_labourtransaction">Cancel</a>
                    <button type="submit" class="btn btn-success">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}